
body {
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    display: grid;
    grid-template-rows: auto 1fr auto  / auto 1fr auto;
    grid-template-columns: 3fr 1fr;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

header {
    grid-column: 1 / 3;
}

.hero {
    background-color: rgb(51,51,51);
    color: white;
    height: 50px;
    padding: 15px;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0,0,0);
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;    
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: .8rem;
    padding: 1rem 1.25rem;
}

main {
    background-color: rgb(204,204,204);   
    height: 200px; 
    padding: 15px;
}

aside {
    padding: 15px;
}

footer {
    grid-column: 1 / 3;
    background-color: rgb(51,51,51);
    color: white;
    height: 120px;
    padding: 15px;
    text-align: center;
}