@media screen and (min-width: 200px) {
  figure {
    margin: 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    place-items: center;
  }
}
